/* .App {
  text-align: center;
} */

.Container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "Nav Nav"
  "Logo FilmList"
  "WatchFilmList FilmList";
}

.Nav {
  background-color: rgb(255, 255, 0);
}

.Logo {
  background-color: rgb(60, 255, 0);
}

.FilmList {
  background-color: blue;
}

.WatchFilmList {
  background-color: rgb(226, 43, 189);
}